<template>

    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Agendamiento Tutorias</h2>

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                
                <input type="email" v-model="user.emailEstudiante" placeholder="Email">
                <br>

                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                
                <input type="text" v-model="user.nombresEstudiante" placeholder="Nombres Estudiante">
                <br>

                <input type="text" v-model="user.apellidosEstudiante" placeholder="Apellidos Estudiante">
                <br>

                <input type="number" v-model="user.edadEstudiante" placeholder="Edad Estudiante">
                <br>

                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>

</template>




<script>
import axios from 'axios';

export default {
    name: "Account",

    data: function(){
        return {
            user: {
                name: "",
                description: "",
                tutor: "",
                user: "",    
            }
        }
    },

    methods: {
        tutoriaCreate: function(){
            axios.post(
                "https://innovalaubackend.herokuapp.com/tutorias/tutoria/", 
                this.tutoria,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error en el resgistro.");
                    
                    
                });
        }
    }
}
</script>



<style>
    .information{
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
    }

    .information h1{
        font-size: 60px;
        color: #0f1316;
    }

    .information h2{
        font-size: 40px;
        color: #283747;
    }

    .information span{
        color: crimson;
        font-weight: bold;
    }
</style>